---
import '@fontsource-variable/dm-sans'
import '@fontsource-variable/fira-code'
import 'remixicon/fonts/remixicon.css'
import '../css/global.css'
import Menu from '../components/vue/Menu.vue'
import { ViewTransitions } from 'astro:transitions'
import Logo from '../components/vue/Logo.vue'
interface Props {
    title: string
}

const { title } = Astro.props

const menuItems = [
    {
        label: 'Home',
        path: '/',
    },
    {
        label: 'Projects',
        path: '/projects/',
    },
    {
        label: 'Blog',
        path: '/blog/',
    },
]

const isActive = (path: string) => path === Astro.url.pathname
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <ViewTransitions />
    </head>
    <body
        class="bg-gradient-to-r from-slate-100 to-slate-200 font-sans text-slate-900 dark:from-slate-800 dark:to-slate-900 dark:text-slate-200"
    >
        <header
            class="container relative top-0 mx-auto flex items-center justify-between p-8"
        >
            <a href="/">
                <span class="sr-only">Home</span>
                <Logo width={100} />
            </a>

            <div>
                <nav class="hidden md:block">
                    <ul class="flex items-center gap-8">
                        {
                            menuItems.map((item) => (
                                <>
                                    <li
                                        class:list={[
                                            'text-lg',
                                            {
                                                'font-bold text-primary-500':
                                                    isActive(item.path),
                                            },
                                        ]}
                                    >
                                        <a href={item.path}>{item.label}</a>
                                    </li>
                                </>
                            ))
                        }
                    </ul>
                </nav>

                <div class="md:hidden">
                    <Menu client:only="vue" items={menuItems} />
                </div>
            </div>
        </header>

        <main>
            <slot />
        </main>
    </body>
</html>
