--- 
import '@fontsource-variable/dm-sans';
import 'remixicon/fonts/remixicon.css'
import '../css/global.css'
import Menu from '../components/vue/Menu.vue';
import { ViewTransitions } from 'astro:transitions';
import Logo from '../components/vue/Logo.vue';
interface Props {
	title: string;
}

const { title } = Astro.props;

const menuItems = [
	{
		label: 'Home',
		path: '/',
	},
	{
		label: 'Blog',
		path: '/blog',
	},
	{
		label: 'Contact',
		path: '/contact',
	}
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body class="dark:bg-gray-700 dark:text-slate-200">
		<header class="flex justify-between items-center top-0 p-8 relative">
			<Logo color="white" width={100} />

			<div>
				<nav class="hidden md:block">
					<ul class="flex gap-4 items-center">
						{
							menuItems.map((item) => (
								<li class="font-bold"><a href={item.path}>{item.label}</a></li>
							))
						}
					</ul>
				</nav>

				<div class="md:hidden">
					<Menu client:only items={menuItems} />
				</div>
			</div>
		</header>

		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
body {
  font-family: 'DM Sans', sans-serif;
}
</style>